/* 
position: static(padrão) não aceita valores de top, bottom, right e left
position: fixed, fixa o elemento na tela
position: sticky, age como adesivo, fixa o elemento só onde eu determinar
position: relative, 

*/